<h1>Post form</h1>

<form action="/form/post-no-redirect/process" method="post">
    <p>
        <label>Field 1:</br>
            <input type="text" name="field1">
        </label>
    </p>

    <p>
        <label>Field 2:</br>
            <input type="text" name="field2">
        </label>
    </p>

    <p>
        <input type="reset" value="Clear">
        <input type="submit" name="doIt" value="Submit">
    </p>
</form>
