<h1>Post form (processed and result page, withouth redirect)</h1>

<p>Today date and time is: {{today}}.</p>

<p>The posted values are:</p>

<ul>
    <li>{{incoming.field1}}</li>
    <li>{{incoming.field2}}</li>
</ul>

<pre>
{{incomingJSON}}
</pre>
