<h1>CRUD sample</h1>

<ul>
    <li><a href="/crud/create">Create new item</a></li>
    <li><a href="/crud/update">Update an item</a></li>
    <li><a href="/crud/delete">Delete an item</a></li>
</ul>

<p>This sample is without a live dataset so here we must imagen that a table is rendered representing the content of the dataset.</p>

<table style="border: 1px solid black">
    <tr>
        <th>Column 1</th>
        <th>Column 2</th>
    </tr>
    <tr>
        <td>Value 1</td>
        <td>Value 2</td>
    </tr>
    <tr>
        <td>Value 3</td>
        <td>Value 4</td>
    </tr>
</table>
