<%- include('header') -%>

<h2>Hash passwords</h2>

<p>Enter a password and look how it looks hashed.</p>

<form method="post">
    <p>
        <label>Password:<br><input type="password" name="password"></label>
        <p>
            <input type="submit" value="Hash the password">
        </p>
    </p>

<%- include('footer') -%>
