<%- include('header') -%>

<h2>Profile</h2>

<p>Welcome <strong><%= user.name %> aka <%= user.acronym %></strong>, this is your private profilepage and can only be viewed when you have logged in.</p>

<%- include('footer') -%>
