<h1>Guess my number</h1>

<nav>
    <a href="/guess/">Start/restart</a> |
    <a href="/guess/guess">Guess</a> |
    <a href="/guess/cheat">Cheat</a> |
    <a href="/guess/session">Session</a> |
</nav>

