<%- include('../header') -%>

<h2>Admin area</h2>

<p>This part of the site should be protected and only accessable by users with the role 'admin'.</p>

<p>You are '<%= user.acronym %>' with a role of '<%= user.role %>'.</p>

<%- include('../footer') -%>
