<h1>Login</h1>

<p>Somehow has the encrypted password for the user 'doe' slipped out. It looks like this:<br>
276405502bd6a2c0a45c17b8745ecae0
</p>

<p>Can you login using that?</p>

<form method=post>
    <p><input type="text" name="user" value=""></p>
    <p><input type="password" name="password" value=""></p>
    <p><input type="submit" name="doit" value="Login"></p>
</form>
