<h1>Welcome</h1>

<p>Here you can try out some attacks.</p>

<ul>
    <li><a href="/attack/login">Login</a></li>
    <li><a href="/attack/xss1">XSS 1</a></li>
    <li><a href="/attack/xss2">XSS 2</a></li>
    <li><a href="/attack/xss3">XSS 3</a></li>
    <!-- <li><a href="/attack/sql">SQL injection</a> (not yet implemented)</li> -->
</ul>
