<style>
body {
    background-color: {{ color }}
}
</style>

<h1>XSS 3</h1>

<p>Can you inject some CSS into this page to make the text to be pink?</p>

<p>You can change the background color of this web page to <a href="?color=green">green</a>, <a href="?color=yellow">yellow</a>
 or <a href="?color=white">white</a>.</p>
</body>
