<%- include('header') -%>

<h2>Create a new item</h2>

<form method="post">
    <p><input type="text" name="value1" value=""></p>
    <p><input type="text" name="value2" value=""></p>
    <p><input type="submit" name="doit" value="Create"></p>
</form>

<%- include('footer') -%>
