<%- include('header') -%>

<h2>Delete (select id)</h2>

<p>Read all itemId:s in the database and show in a select/option list so the user can select the one.</p>

<form method=post>
    <p>
        <select>
            <option>Item id 1</option>
            <option>Item id 2</option>
            <option>Item id 3</option>
            <option>Item id 4</option>
    </select>
    <p><input type="submit" name="doit" value="Delete"></p>
</form>

<%- include('footer') -%>
