<h1>CRUD sample</h1>

<nav>
    <a href="/crud">View all items</a> |
    <a href="/crud/id/42">View item 42</a> |
    <a href="/crud/create">Create new item</a> |
    <a href="/crud/update/42">Update an item with id=42</a> |
    <a href="/crud/delete">Select and delete an item</a> |
    <a href="/crud/delete/42">Delete item = 42</a> |
</nav>

