<%- include('header') -%>

<h2>Read</h2>

<p>This sample is without a live dataset so here we must imagen that a table is rendered representing the content of the dataset.</p>

<table style="border: 1px solid black">
    <tr>
        <th>Column 1</th>
        <th>Column 2</th>
    </tr>
    <tr>
        <td>Value 1</td>
        <td>Value 2</td>
    </tr>
    <tr>
        <td>Value 3</td>
        <td>Value 4</td>
    </tr>
</table>


<%- include('footer') -%>
