<%- include('header') -%>

<h2>Read one</h2>

<p>Get the id from the url and read the data from the database and present it here.</p>

<table style="border: 1px solid black">
    <tr>
        <th>Item id</th>
        <td><%= itemId %></td>
    </tr>
    <tr>
        <th>Column 2</th>
        <td>Value 2</td>
    </tr>
    <tr>
        <th>Column 3</th>
        <td>Value 3</td>
    </tr>
</table>


<%- include('footer') -%>
