<h1>{{title}}</h1>
<p>Welcome to {{title}} and this session example.</p>

<p>The server side session currently consists of:</p>

<pre>
{{session}}
</pre>

<p>Check out the example <a href="/increment">increment a number</a>?</p>

<p>Do you want to <a href="/game">play a game of guessing my number</a>?</p>
