<h1>Profile for '{{user}}'</h1>

{{#if flash}}
<p style="padding: 1em; background-color: #ccf">{{ flash }}</p>
{{/if}}

<p>This is your personal profile page.</p>

<p>No one else but you should be able to see this. This page should be protected.</p>

<p><a href="/login">Go to public welcome page</a></p>
