<%- include('header') -%>

<h2>Login</h2>

<p>Login as doe:doe or admin:admin.</p>

<form method="post">
    <p>
        <label>Acronym: <input type="text" name="username"></label>
    </p>
    <p>
        <label>Password: <input type="password" name="password"></label>
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>

<%- include('footer') -%>
