<h1>Example forms with GET and POST</h1>

<p>Review the source code and follow the path of the examples.</p>



<h2>Example with GET form</h2>

<p>Here is the example of the GET form. It is a form that submits the data to a route action (or route path) and it then shows the details of the submitted form together with the date of today.</p>

<p><a href="/form/get">The GET form</a></p>



<h2>Example with POST form without redirect</h2>

<p>Here is the example of a POST form that does not use a processing page and a redirect to a result page. It works like the GET form above. Try it out and then try to reload the result page and you will see a popup asking you to re-post the form. That is not how we want to have it. You could get issues like "paying twice" when leaving the e-shop.</p>

<p><a href="/form/post-no-redirect">The POST form (withouth redirect)</a></p>



<h2>Example with POST form with processing page and redirect</h2>

<p>Here is the example of a proper implementation of a POST form that uses a processing page and then a redirect to a result page.</p>

<p><a href="/form/post">The POST form, with processing page and redirect to a result page.</a></p>
