<h1>Increment a number</h1>

<p>The server side session currently consists of:</p>

<pre>
Session id: {{sessionId}}

{{session}}
</pre>

<p><a href="/increment/add">Add a number to the session and set it to 0</a></p>

<p><a href="/increment/inc">Add +1 to the number in the session</a></p>

<p><a href="/increment/del">Remove the number from the session</a></p>

<p><a href="/increment/destroy">Destroy the session</a></p>
